@model ResponseListModel<UserModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <h1>Kullanıcı listesi</h1>

    <div class="text-center">
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">İsim</th>
                        <th scope="col">Soyisim</th>
                        <th scope="col">Kan grubu</th>
                        <th scope="col">Cep telefonu</th>
                        <th scope="col">Adres</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model?.Response)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.BloodType</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
